*/backgrounds/*
*/trainingData/*
*/trainingVideos/*
build/*
dist/*
*.pyc
*.bak
*.dat
*.dir
*.tfrecords
*.db
app.spec
*/training/*.png
*/training/*.jpg
*/training/*.jpeg
*/training/*.tiff
*/training/*.webp
*/training/*.avif
venv/*